<%- include("partials/land") %>
  <section id="landing-section">
    <div id="landing-header">
      <h1>Welcome to the landing page</h1>

      <a href="/campgrounds" class="btn btn-success">View All Campgrounds</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>


  <%- include("partials/footer") %>